<app-toolbar [title]="machine?.title || 'Machine Detail'"></app-toolbar>

<ion-content [fullscreen]="true">
  <div *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Loading machine details...</p>
  </div>

  <div *ngIf="error">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <p>{{ error }}</p>
  </div>

  <div *ngIf="machine && !loading">
    <ion-card>
      <div class="image-container">
        <img [src]="machine.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
            alt="Machine Picture" />
      </div>

      <ion-card-header>
        <ion-card-title class="title">{{ machine.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle class="subtitle">{{ machine.subtitle }}</ion-card-subtitle>
        <p class="description">{{ machine.description }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
