<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ mode === 'edit' ? ('PLACE.EDIT_TITLE' | translate) : ('PLACE.NEW_TITLE' | translate) }}
    </ion-title>

    <!-- Botón de cierre para desktop -->
    <ion-buttons slot="start" *ngIf="!isMobile">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Botón de cierre para mobile -->
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding  custom-form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Título -->
    <ion-label position="stacked" color="tertiary">{{ 'PLACE.TITLE' | translate }}</ion-label>
    <ion-input
      label-placement="stacked"
      formControlName="title"
      type="text"
      [placeholder]="'PLACE.PLACEHOLDERS.TITLE' | translate">
    </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('title')?.errors" field="TITLE" page="PLACE" color="danger">
    </ion-text>

    <!-- Descripción -->
    <ion-label position="stacked" color="tertiary">{{ 'PLACE.DESCRIPTION' | translate }}</ion-label>
    <ion-textarea
      label-placement="stacked"
      type="text"
      formControlName="description"
      [placeholder]="'PLACE.PLACEHOLDERS.DESCRIPTION' | translate"
      [autoGrow]="true"
      [rows]="3">
    </ion-textarea>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('description')?.errors" field="DESCRIPTION" page="PLACE" color="danger">
    </ion-text>

    <!-- Botón de envío -->
    <div class="button-container">
      <ion-button [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit" color="success">
        {{ mode === 'edit' ? ('PLACE.BUTTONS.UPDATE' | translate) : ('PLACE.BUTTONS.CREATE' | translate) }}
      </ion-button>
    </div>
  </form>
</ion-content>
