<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ mode === 'edit' ? ('PLACE.EDIT_TITLE' | translate) : ('PLACE.NEW_TITLE' | translate) }}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Título -->
    <ion-item>
      <ion-input
        [label]="'PLACE.TITLE' | translate"
        label-placement="stacked"
        type="text"
        formControlName="title"
        [placeholder]="'PLACE.PLACEHOLDERS.TITLE' | translate">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="formGroup.get('title')?.invalid && (formGroup.get('title')?.dirty || formGroup.get('title')?.touched)">
      <p *ngIf="formGroup.get('title')?.errors?.['required']">{{ 'PLACE.ERRORS.TITLE_REQUIRED' | translate }}</p>
      <p *ngIf="formGroup.get('title')?.errors?.['minlength']">{{ 'PLACE.ERRORS.TITLE_MIN_LENGTH' | translate }}</p>
    </ion-text>

    <!-- Descripción -->
    <ion-item>
      <ion-textarea
        [label]="'PLACE.DESCRIPTION' | translate"
        label-placement="stacked"
        formControlName="description"
        [placeholder]="'PLACE.PLACEHOLDERS.DESCRIPTION' | translate">
      </ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="formGroup.get('description')?.invalid && (formGroup.get('description')?.dirty || formGroup.get('description')?.touched)">
      <p *ngIf="formGroup.get('description')?.errors?.['required']">{{ 'PLACE.ERRORS.DESCRIPTION_REQUIRED' | translate }}</p>
      <p *ngIf="formGroup.get('description')?.errors?.['maxlength']">{{ 'PLACE.ERRORS.DESCRIPTION_MAX_LENGTH' | translate }}</p>
    </ion-text>

    <!-- Botón de envío -->
    <ion-button [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit">
      {{ mode === 'edit' ? ('PLACE.BUTTONS.UPDATE' | translate) : ('PLACE.BUTTONS.CREATE' | translate) }}
    </ion-button>
  </form>
</ion-content>
