<app-toolbar [title]="'MENU.USERLIST' | translate"></app-toolbar>

<ion-content [fullscreen]="true" class="content">
  <ion-grid>
    <ion-row class="responsive-row">
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let user of _users | async; let i=index">
        <ion-card class="card">
          <!-- Bloque 1: Imagen -->
          <div class="image-container">
            <img
              [src]="user.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
              alt="Machine Picture" />
          </div>

          <!-- Bloque 2: Información -->
          <ion-card-content class="info-block" >
            <h2 class="title"> {{ user.surname }}</h2>
            <p class="subtitle">{{ user.name }}</p>
            <p class="description">{{ user.role }}</p>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
