<app-toolbar [title]="'MENU.USERLIST' | translate"></app-toolbar>

<ion-content [fullscreen]="true" class="content">

  <div class="search-container">
    <ion-searchbar
      (ionChange)="searchUser($event)"
      animated="true"
      show-clear-button="always"
      clear-icon="trash-bin"
      [placeholder]="'USERLIST.PLACEHOLDERS.SEARCH' | translate">
    </ion-searchbar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let user of searchedUsers | async; let i=index">
        <ion-card class="card" (click)="updateUserRole(user)">
          <!-- Contenedor principal para organizar horizontalmente -->
          <div class="card-horizontal-layout">
            <!-- Bloque 1: Imagen (a la izquierda) -->
            <div class="image-container">
              <img
                [src]="user.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
                alt="User Picture" />
            </div>

            <!-- Bloque 2: Información (a la derecha, ahora en formato de 3 columnas) -->
            <ion-card-content class="info-block">
              <div class="info-grid">
                <!-- Primera columna -->
                <div class="info-column">
                  <p class="title">{{ 'USERLIST.NAME' | translate }}: <span class="subtitle">{{ user.name }}</span></p>
                  <p class="title">{{ 'USERLIST.SURNAME' | translate }}: <span class="subtitle">{{ user.surname }}</span></p>
                </div>

                <!-- Segunda columna -->
                <div class="info-column">
                  <p class="title">{{ 'USERLIST.EMAIL' | translate }}: <span class="subtitle">{{ user.email }}</span></p>
                  <p class="title">{{ 'USERLIST.PHONENUMBER' | translate }}: <span class="subtitle">{{ user.phoneNumber }}</span></p>
                </div>

                <!-- Tercera columna -->
                <div class="info-column">
                  <p class="title">{{ 'USERLIST.ROLE' | translate }}: <span class="subtitle">{{ user.role }}</span></p>
                  <p class="title">{{ 'USERLIST.REGISTERDATE' | translate }}: <span class="subtitle">{{ user.registerDate }}</span></p>
                </div>
              </div>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
