ion-content {
  --background: var(--background-color);
}

ion-card {
  background-color: var(--card-color);
  color: #282F35;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

/* Contenedor para organizar horizontalmente */
.card-horizontal-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-container {
  width: 20%; /* Reducido para dar más espacio a la información */
  min-width: 100px;
  max-width: 180px;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--highlight-color);
}

.image-container img {
  width: 100%;
  height: 100%;
  min-height: 150px;
  object-fit: cover;
  display: block;
}

.info-block {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Nueva cuadrícula de información para organizar en 3 columnas */
.info-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.info-column {
  flex: 1;
  min-width: 200px; /* Asegura que las columnas tengan un ancho mínimo */
  padding: 0 10px;
}

.info-block .title {
  font-size: 1.2em;
  font-weight: bold;
  color: #F8F8F8;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5px;
}

.info-block .subtitle {
  font-size: 1em;
  color: #C4C4C4;
  font-family: 'Lato', sans-serif;
}

/* Estilos responsivos */
@media screen and (max-width: 992px) {
  /* En tablets medianas, pasamos a 2 columnas */
  .info-column {
    flex: 0 0 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* En tablets pequeñas, ajustamos el tamaño */
  .image-container {
    width: 25%;
  }
}

@media screen and (max-width: 576px) {
  /* En móviles, volvemos a la disposición vertical */
  .card-horizontal-layout {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    max-width: none;
    border-right: none;
    border-bottom: 2px solid var(--highlight-color);
  }

  .image-container img {
    height: 180px;
  }

  /* En móviles, una columna */
  .info-column {
    flex: 0 0 100%;
  }
}
