<app-toolbar [title]="'MENU.USERLIST' | translate"></app-toolbar>

<ion-content [fullscreen]="true" class="content">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let user of _users | async; let i=index">
        <ion-card class="card">
          <!-- Contenedor principal para organizar horizontalmente -->
          <div class="card-horizontal-layout">
            <!-- Bloque 1: Imagen (ahora a la izquierda) -->
            <div class="image-container">
              <img
                [src]="user.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
                alt="User Picture" />
            </div>

            <!-- Bloque 2: Información (ahora a la derecha) -->
            <ion-card-content class="info-block">
              <h2 class="title">{{ user.surname || 'Sin apellido' }}</h2>
              <p class="subtitle">{{ user.name }}</p>

              <!-- Selector de rol -->
              <ion-item class="role-selector">
                <ion-label>Rol</ion-label>
                <ion-select [(ngModel)]="user.role" (ionChange)="updateUserRole(user)">
                  <ion-select-option value="admin">Admin</ion-select-option>
                  <ion-select-option value="user">User</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
