:root {
  --ion-color-primary: #2C394B; // Azul oscuro estoico
  --ion-color-primary-rgb: 44,57,75;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #273242;
  --ion-color-primary-tint: #414D5D;

  --ion-color-secondary: #334756; // Azul grisáceo
  --ion-color-secondary-rgb: 51,71,86;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2d3e4c;
  --ion-color-secondary-tint: #475967;

  --ion-color-tertiary: #4A6670; // Azul verdoso
  --ion-color-tertiary-rgb: 74,102,112;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #415a63;
  --ion-color-tertiary-tint: #5c757e;

  --ion-color-success: #395B50; // Verde oscuro
  --ion-color-success-rgb: 57,91,80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #324f46;
  --ion-color-success-tint: #4d6b62;

  --ion-color-warning: #846C5B; // Marrón neutro
  --ion-color-warning-rgb: 132,108,91;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #745f50;
  --ion-color-warning-tint: #907b6b;

  --ion-color-danger: #8e3b3b; // Rojo oscuro
  --ion-color-danger-rgb: 115,60,60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #653535;
  --ion-color-danger-tint: #815050;

  --ion-color-light: #E5E9EC; // Gris claro
  --ion-color-light-rgb: 229,233,236;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #caced0;
  --ion-color-light-tint: #e8ebee;

  --ion-color-medium: #9BA4AD; // Gris medio
  --ion-color-medium-rgb: 155,164,173;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #889098;
  --ion-color-medium-tint: #a5adb5;

  --ion-color-dark: #282F35; // Gris oscuro
  --ion-color-dark-rgb: 40,47,53;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #23292f;
  --ion-color-dark-tint: #3e444a;

  --card-color: #334756; // Azul grisáceo para tarjetas
  --card-color-contrast: #ffffff;

  --header-color: #2C394B; // Azul oscuro para header
  --header-color-contrast: #ffffff;

  --share-color: #a0942a; // Azul oscuro para footer

  --footer-color: #2C394B; // Azul oscuro para footer
  --footer-color-contrast: #ffffff;

  --background-color: #1B2430; // Azul muy oscuro para fondo
  --background-color-models: #232B38; // Color de los models

  --color-text-toolbar: #F0E3CA;  // Warm light color for toolbar
  --color-text-primary: #F8F8F8;  // Bright white for primary text
  --color-text-secondary: #E0E0E0;  // Slightly dimmer for secondary text
}

body.barcode-scanning-active{
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

.barcode-scanning-modal{
  visibility: visible;
}

@media(prefers-color-scheme: dark) {
  .barcode-scanning-active{
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
}
