// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #200c2f;
	--ion-color-primary-rgb: 32,12,47;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #1c0a29;
	--ion-color-primary-tint: #3a204d;

	--ion-color-secondary: #6d1c54;
	--ion-color-secondary-rgb: 109,28,84;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #611949;
	--ion-color-secondary-tint: #7c3668;

	--ion-color-tertiary: #9c2e64;
	--ion-color-tertiary-rgb: 156,46,100;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #89295a;
	--ion-color-tertiary-tint: #a8507d;

	--ion-color-success: #6c1c53;
	--ion-color-success-rgb: 108,28,83;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #611949;
	--ion-color-success-tint: #7c3668;

	--ion-color-warning: #962e65;
	--ion-color-warning-rgb: 150,46,101;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #842959;
	--ion-color-warning-tint: #a8507d;

	--ion-color-danger: #dff3d0;
	--ion-color-danger-rgb: 223,243,208;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #c3d8b7;
	--ion-color-danger-tint: #e5f6d8;

	--ion-color-light: #92e3ab;
	--ion-color-light-rgb: 146,227,171;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #82c695;
	--ion-color-light-tint: #a3e8b7;

	--ion-color-medium: #63d19b;
	--ion-color-medium-rgb: 99,209,155;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #57b085;
	--ion-color-medium-tint: #79d7a8;

	--ion-color-dark: #69d19a;
	--ion-color-dark-rgb: 105,209,154;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0,0,0;
	--ion-color-dark-shade: #5cbf87;
	--ion-color-dark-tint: #7fd7ac;
}
