<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{('USERLIST.PLACEHOLDERS.UPDATE' | translate)}}
    </ion-title>
    <!-- Botón de cierre para desktop -->
    <ion-buttons slot="start" *ngIf="!isMobile">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Botón de cierre para mobile -->
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <ion-label position="stacked" color="tertiary">{{ 'MACHINE.IMAGE' | translate }}</ion-label>
    <div class="photo-container">
      <!-- Previsualización de la imagen -->
      <app-picture-selectable formControlName="picture"></app-picture-selectable>
    </div>

    <!-- Nombre -->
    <ion-label position="stacked" color="tertiary">{{ 'USERLIST.NAME' | translate }}</ion-label>
    <ion-input
      type="text"
      formControlName="name"
      [placeholder]="'USERLIST.PLACEHOLDERS.NAME' | translate">
    </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('name')?.errors" field="NAME" page="USERLIST" color="danger">
    </ion-text>

    <!-- Apellido -->
    <ion-label position="stacked" color="tertiary">{{ 'USERLIST.SURNAME' | translate }}</ion-label>
    <ion-input
      type="text"
      formControlName="surname"
      [placeholder]="'USERLIST.PLACEHOLDERS.SURNAME' | translate">
    </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('surname')?.errors" field="SURNAME" page="USERLIST" color="danger">
    </ion-text>

    <!-- Correo -->
    <ion-label position="stacked" color="tertiary">{{ 'USERLIST.EMAIL' | translate }}</ion-label>
    <ion-input
      type="text"
      formControlName="email"
      [placeholder]="'USERLIST.PLACEHOLDERS.EMAIL' | translate">
    </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('email')?.errors" field="EMAIL" page="USERLIST" color="danger">
    </ion-text>

    <!-- Telefono -->
    <ion-label position="stacked" color="tertiary">{{ 'USERLIST.PHONENUMBER' | translate }}</ion-label>
    <ion-input
      type="text"
      formControlName="phoneNumber"
      [placeholder]="'USERLIST.PLACEHOLDERS.PHONENUMBER' | translate">
    </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('phoneNumber')?.errors" field="PHONENUMBER" page="USERLIST" color="danger">
    </ion-text>

    <!-- Selección de máquinas -->
    <ion-label position="stacked" color="tertiary">{{ 'USERLIST.ROLE' | translate }}</ion-label>
    <app-role-selectable formControlName="role"></app-role-selectable>

    <!-- Fecha Registro -->
    <ion-label position="stacked" color="tertiary">{{ 'USERLIST.REGISTERDATE' | translate }}</ion-label>
    <ion-input
      type="text"
      formControlName="registerDate"
      [placeholder]="'USERLIST.PLACEHOLDERS.REGISTERDATE' | translate">
    </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('registerDate')?.errors" field="REGISTERDATE" page="USERLIST" color="danger">
    </ion-text>

    <!-- Botón de envío -->
    <div class="button-container">
      <ion-button
        [disabled]="!formGroup.valid || !formGroup.dirty"
        expand="full"
        type="submit"
        color="success">
        {{('USERLIST.BUTTONS.UPDATE' | translate)}}
      </ion-button>
    </div>
  </form>
</ion-content>
