<ion-content class="login-page">

  <!-- Language Selector -->
  <div class="language-selector">
    <ion-select interface="popover" placeholder="🌐 {{ 'LANGUAGE' | translate }}" (ionChange)="changeLanguage($event.detail.value)">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
    </ion-select>
  </div>

  <div class="login-container">
    <ion-text color="light" class="title">
      <h1>{{ 'LOGIN.TITLE' | translate }}</h1>
    </ion-text>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Input -->
      <ion-item>
        <ion-label position="floating">{{ 'LOGIN.EMAIL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <!-- Password Input -->
      <ion-item>
        <ion-label position="floating">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <!-- Error Messages -->
      <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.errors?.['required']">{{ 'LOGIN.ERRORS.EMAIL_REQUIRED' | translate }}</p>
        <p *ngIf="email?.errors?.['email']">{{ 'LOGIN.ERRORS.EMAIL_INVALID' | translate }}</p>
      </ion-text>
      <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.errors?.['required']">{{ 'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate }}</p>
      </ion-text>

      <!-- Register Button -->
      <ion-grid>
        <ion-row>
          <ion-col style="display: flex" class="ion-justify-content-center ion-align-items-center">
            <span class="secondary-text">{{ 'LOGIN.NO_ACCOUNT' | translate }}</span>
            <ion-button style="text-transform: none" (click)="onRegister()" fill="clear" color="secondary">{{ 'LOGIN.REGISTER' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Login Button -->
      <ion-button expand="block" color="primary" type="submit" [disabled]="loginForm.invalid">
        {{ 'LOGIN.SUBMIT' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
