<ion-app>
  <!-- Menú lateral -->
  <ion-menu #menu side="start" menuId="mainMenu" contentId="mainContent" [disabled]="!(authSvc.authenticated$ | async)">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'MENU.TITLE' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="menu.close()" routerLink="/home" routerDirection="root">{{ 'MENU.HOME' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/machine" routerDirection="root">{{ 'MENU.MACHINES' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/exercise" routerDirection="root">{{ 'MENU.EXERCISES' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/about" routerDirection="root">{{ 'MENU.ABOUT' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" (click)="logout()" button>{{ 'MENU.LOGOUT' | translate }}</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <!-- Área de idioma -->
        <ion-item lines="none" class="language-section">
          <ion-label>
            <h3>{{ 'MENU.LANGUAGE' | translate }}</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="language-buttons">
          <ion-buttons slot="start">
            <ion-button (click)="changeLanguage('es')" [color]="currentLang === 'es' ? 'primary' : 'medium'">
              Español
            </ion-button>
            <ion-button (click)="changeLanguage('en')" [color]="currentLang === 'en' ? 'primary' : 'medium'">
              English
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>
