<ion-content class="register-page">

  <!-- Language Selector -->
  <div class="language-selector">
    <ion-select interface="popover" placeholder="🌐 {{ 'LANGUAGE' | translate }}" (ionChange)="changeLanguage($event.detail.value)">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
    </ion-select>
  </div>

  <div class="register-container">
    <ion-text color="light" class="title">
      <h1>{{ 'REGISTER.TITLE' | translate }}</h1>
    </ion-text>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Nombre -->
      <ion-item>
        <ion-label position="floating">{{ 'REGISTER.NAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-text class="input-error" customLabel [errors]="registerForm.get('name')?.errors" field="NAME" page="REGISTER" color="danger">
      </ion-text>

      <!-- Apellidos -->
      <ion-item>
        <ion-label position="floating">{{ 'REGISTER.SURNAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="surname"></ion-input>
      </ion-item>
      <ion-text class="input-error" customLabel [errors]="registerForm.get('surname')?.errors" field="SURNAME" page="REGISTER" color="danger">
      </ion-text>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">{{ 'REGISTER.EMAIL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text class="input-error" customLabel [errors]="registerForm.get('email')?.errors" field="EMAIL" page="REGISTER" color="danger">
      </ion-text>

      <!-- Contraseña -->
      <ion-item>
        <ion-label position="floating">{{ 'REGISTER.PASSWORD' | translate }}</ion-label>
        <ion-input
          [type]="showPasswordFirst ? 'text' : 'password'"
          formControlName="password">
        </ion-input>
        <!-- Botón del ojo -->
        <ion-button fill="clear" class="password-toggle" slot="end" (click)="togglePasswordVisibilityFirst()">
          <ion-icon [name]="showPasswordFirst ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-text class="input-error" customLabel [errors]="registerForm.get('password')?.errors" field="PASSWORD" page="REGISTER" color="danger">
      </ion-text>

      <!-- Confirmar Contraseña -->
      <ion-item>
        <ion-label position="floating">{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</ion-label>
        <ion-input
          [type]="showPasswordSecond ? 'text' : 'password'"
          formControlName="confirmPassword">
        </ion-input>
        <!-- Botón del ojo -->
        <ion-button fill="clear" class="password-toggle" slot="end" (click)="togglePasswordVisibilitySecond()">
          <ion-icon [name]="showPasswordSecond ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-text class="input-error" customLabel [errors]="registerForm.get('confirmPassword')?.errors" field="PASSWORD" page="REGISTER" color="danger">
      </ion-text>

      <!-- Error de contraseñas no coinciden -->
      <ion-text class="input-error" color="danger" *ngIf="registerForm.errors?.['passwordsMismatch']">
        <p>{{ 'REGISTER.ERRORS.PASSWORDS_MISMATCH' | translate }}</p>
      </ion-text>

      <!-- Login Link -->
      <ion-grid>
        <ion-row>
          <ion-col style="display: flex" class="ion-justify-content-center ion-align-items-center">
            <span class="secondary-text">{{ 'REGISTER.NO_ACCOUNT' | translate }}</span>
            <ion-button style="text-transform: none" (click)="onLogin()" fill="clear" color="secondary">{{ 'REGISTER.LOGIN' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Botón Crear Cuenta -->
      <ion-button expand="block" color="primary" type="submit" [disabled]="registerForm.invalid">
        {{ 'REGISTER.SUBMIT' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
