// .container {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   --background: var(--background-color);


//   @media (min-width: 992px) {
//     flex-direction: row;
//   }
// }

ion-content {
  --background: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  --background: var(--background-color);


  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.map-column {
  height: 50vh;
  width: 100%;

  @media (min-width: 992px) {
    height: 100vh;
    width: 60%;
  }
}

.full-map {
  width: 100%;
  height: 100%;
}

google-map {
  width: 100%;
  height: 100%;
}

.cards-column {
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  padding: 16px;
  background-color: var(--background-color);

  @media (min-width: 992px) {
    width: 40%;
    height: 100vh;
  }
}

.location-card {
  margin-bottom: 16px;

  ion-card-title {
    font-size: 1.2rem;
  }

  ion-card-content {
    p {
      margin-bottom: 12px;
    }
  }
}

// Responsive adjustments
@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .map-column,
  .cards-column {
    width: 100%;
    height: auto;
  }
}
