<app-toolbar [title]="'MENU.HOME' | translate"></app-toolbar>

<ion-content>
  <div class="main-container">
    <!-- Contenedor del mapa -->
    <div class="map-container">
      <app-map
        [center]="center"
        [zoom]="zoom"
        [options]="options"
        [markers]="markers"
        (mapClick)="addMarker($event)">
      </app-map>
    </div>

    <!-- Contenedor de tarjetas -->
    <div class="cards-container">
      <div class="cards-scroll">
        <ion-card *ngFor="let location of _place | async" class="location-card">
          <ion-card-header>
            <ion-card-title>{{ location.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ location.description }}</p>
            <div class="card-actions">
              <ion-button expand="block" color="warning" (click)="focusLocation(location)" class="navigate-btn">
                {{ 'NAVIGATE' | translate }}
              </ion-button>
              <ion-button expand="block" color="danger" (click)="deleteLocation(location)" class="delete-btn">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
