<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-routing-bar></app-routing-bar>

  <ion-select (ionChange)="changeLanguage($event.detail.value)">
    <ion-select-option value="en">English</ion-select-option>
    <ion-select-option value="es">Español</ion-select-option>
  </ion-select>

</ion-content>
