<input type="file" #fileLoader accept="image/png, image/gif, image/jpeg" hidden>
<div class="photo-selector">
  <div class="photo-container">
    <ng-container *ngIf="hasValue">
      <ion-modal trigger="picture" class="photo-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="danger" (click)="close()" fill="clear">
                  <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <div class="modal-content">
            <img [src]="picture$ | async" alt="Selected Picture" />
          </div>
        </ng-template>
      </ion-modal>
      <div class="photo-preview">
        <ion-img [src]="picture$ | async" alt="Preview"></ion-img>
        <div class="action-buttons">
          <ion-button color="primary" (click)="onChangePicture($event, fileLoader)" fill="solid">
            <ion-icon slot="start" name="image"></ion-icon>
            {{ 'PICTURE_SELECTABLE.CHANGE' | translate }}
          </ion-button>
          <ion-button color="danger" (click)="onDeletePicture($event)" fill="solid">
            <ion-icon slot="start" name="trash"></ion-icon>
            {{ 'PICTURE_SELECTABLE.DELETE' | translate }}
          </ion-button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!hasValue">
      <div class="empty-state">
        <ion-icon name="image" class="placeholder-icon"></ion-icon>
        <p>{{ 'PICTURE_SELECTABLE.NONE' | translate }}</p>
        <ion-button color="primary" (click)="onChangePicture($event, fileLoader)">
          {{ 'PICTURE_SELECTABLE.SELECT_PICTURE' | translate }}
        </ion-button>
      </div>
    </ng-container>
  </div>
</div>
