<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ mode === 'edit' ? 'Editar Máquina' : 'Nueva Máquina' }}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Imagen -->
    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <div class="photo-container">
        <!-- Previsualización de la imagen -->
        <img [src]="picture || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Machine Photo" class="photo-preview" />
        <ion-button expand="block" color="primary" class="upload-button">
          <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
          Seleccionar Imagen
          <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        </ion-button>
      </div>
    </ion-item>

    <!-- Título -->
    <ion-item>
      <ion-input
        label="Título"
        label-placement="stacked"
        type="text"
        formControlName="title"
        placeholder="Introduce un título">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="formGroup.get('title')?.invalid && (formGroup.get('title')?.dirty || formGroup.get('title')?.touched)">
      <p *ngIf="formGroup.get('title')?.errors?.['required']">El título es obligatorio.</p>
      <p *ngIf="formGroup.get('title')?.errors?.['minlength']">El título debe tener al menos 3 caracteres.</p>
    </ion-text>

    <!-- Subtítulo -->
    <ion-item>
      <ion-input
        label="Subtítulo"
        label-placement="stacked"
        type="text"
        formControlName="subtitle"
        placeholder="Introduce un subtítulo">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="formGroup.get('subtitle')?.invalid && (formGroup.get('subtitle')?.dirty || formGroup.get('subtitle')?.touched)">
      <p *ngIf="formGroup.get('subtitle')?.errors?.['required']">El subtítulo es obligatorio.</p>
      <p *ngIf="formGroup.get('subtitle')?.errors?.['minlength']">El subtítulo debe tener al menos 3 caracteres.</p>
    </ion-text>

    <!-- Descripción -->
    <ion-item>
      <ion-textarea
        label="Descripción"
        label-placement="stacked"
        formControlName="description"
        placeholder="Introduce una descripción">
      </ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="formGroup.get('description')?.invalid && (formGroup.get('description')?.dirty || formGroup.get('description')?.touched)">
      <p *ngIf="formGroup.get('description')?.errors?.['required']">La descripción es obligatoria.</p>
      <p *ngIf="formGroup.get('description')?.errors?.['maxlength']">La descripción no debe superar los 500 caracteres.</p>
    </ion-text>

    <!-- Botón de envío -->
    <ion-button [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit">
      {{ mode === 'edit' ? 'Actualizar' : 'Crear' }}
    </ion-button>
  </form>
</ion-content>
