<ion-header>
  <ion-toolbar color="primary">
    <!-- Título del formulario -->
    <ion-title>
      {{ mode === 'edit' ? ('MACHINE.EDIT_TITLE' | translate) : ('MACHINE.NEW_TITLE' | translate) }}
    </ion-title>

    <!-- Botón de cierre para desktop -->
    <ion-buttons slot="start" *ngIf="!isMobile">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Botón de cierre para mobile -->
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-button (click)="dismiss()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- Imagen -->
      <ion-label position="stacked" color="tertiary">{{ 'MACHINE.IMAGE' | translate }}</ion-label>
      <div class="photo-container">
        <!-- Previsualización de la imagen -->
        <app-picture-selectable formControlName="picture"></app-picture-selectable>
      </div>

    <!-- Título -->
    <ion-label position="stacked" color="tertiary">{{ 'MACHINE.TITLE' | translate }}</ion-label>
      <ion-input
        label-placement="stacked"
        type="text"
        formControlName="title"
        [placeholder]="'MACHINE.PLACEHOLDERS.TITLE' | translate">
      </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('title')?.errors" field="TITLE" page="MACHINE" color="danger">
    </ion-text>

    <!-- Subtítulo -->
    <ion-label position="stacked" color="tertiary">{{ 'MACHINE.SUBTITLE' | translate }}</ion-label>
      <ion-input
        label-placement="stacked"
        type="text"
        formControlName="subtitle"
        [placeholder]="'MACHINE.PLACEHOLDERS.SUBTITLE' | translate">
      </ion-input>
    <ion-text customLabel *ngIf="formGroup.touched" [errors]="formGroup.get('subtitle')?.errors" field="SUBTITLE" page="MACHINE" color="danger">
    </ion-text>

    <!-- Descripción -->
    <ion-label position="stacked" color="tertiary">{{ 'MACHINE.DESCRIPTION' | translate }}</ion-label>
    <ion-textarea
      label-placement="stacked"
      formControlName="description"
      [placeholder]="'MACHINE.PLACEHOLDERS.DESCRIPTION' | translate"
      [autoGrow]="true"
      [rows]="3">
    </ion-textarea>
    <ion-text *ngIf="formGroup.touched" customLabel [errors]="formGroup.get('description')?.errors" field="DESCRIPTION" page="MACHINE" color="danger">
    </ion-text>

    <!-- Botón de envío -->
    <div class="button-container">
      <ion-button [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit" color="success">
        {{ mode === 'edit' ? ('MACHINE.BUTTONS.UPDATE' | translate) : ('MACHINE.BUTTONS.CREATE' | translate) }}
      </ion-button>
    </div>
  </form>
</ion-content>
