ion-content {
  // --background: var(--ion-color-secondary);
  --background: url(../../../assets/img/wallpaper.jpg) 0 0/100% 100% no-repeat;
}

ion-card {
  // background-color: var(--ion-color-tertiary);
  background-color: #2C2C3E ;
  color: var(--ion-color-light-contrast);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid var(--highlight-color);
}

.info-block {
  padding: 10px;
  text-align: left;
}

.info-block .title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-text-primary);
  margin-bottom: 5px;
}

.info-block .subtitle,
.info-block .description {
  font-size: 0.9em;
  color: var(--color-text-secondary);
  margin: 5px 0;
}

.button-block {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
}

btn-primary {
  background-color: var(--edit-button); /* Color corporativo del botón editar */
  color: var(--btn-text-primary); /* Texto claro para contraste */
}

.btn-secondary {
  background-color: var(--delete-button); /* Color corporativo del botón eliminar */
  color: var(--btn-text-secondary); /* Texto claro para contraste */
}

.fab-button {
  background-color: var(--fab-button-bg); /* Botón flotante (coherente con el diseño) */
  color: var(--fab-button-text); /* Texto o ícono del botón flotante */
}

.responsive-row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  ion-col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .image-container img {
    height: 150px;
  }

  .info-block .title {
    font-size: 1em;
  }

  .info-block .subtitle,
  .info-block .description {
    font-size: 0.8em;
  }

  .button-block {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  ion-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .image-container img {
    height: 180px;
  }

  .info-block .title {
    font-size: 1em;
  }

  .info-block .subtitle,
  .info-block .description {
    font-size: 0.8em;
  }

  .button-block {
    justify-content: center;
  }
}
