<div id="popover-button" #popoverButton class="machine-selector">
  <div class="selector-header">
    <div class="selector-text">
      <ion-text *ngIf="!machineSelected && !disabled" class="placeholder">
        {{ 'MACHINE_SELECTABLE.SELECT_MACHINE' | translate }}
      </ion-text>
      <ion-text *ngIf="!machineSelected && disabled" class="placeholder disabled">
        {{ 'MACHINE_SELECTABLE.NONE' | translate }}
      </ion-text>
      <ion-text *ngIf="machineSelected" class="selected-text">
        {{machineSelected.title}}
      </ion-text>
    </div>
    <ion-icon name="chevron-down-outline" color="medium" class="selector-icon"></ion-icon>
  </div>

  <ion-popover
  class="machine-popover"
  [style]="{'--width': 'auto'}"
  *ngIf="!disabled"
  trigger="popover-button"
  #popover
  (willPresent)="onLoadMachines()">
    <ng-template>
      <ion-content class="popover-content">
        <ion-list class="machine-list">
          <div class="scrollable-wrapper">
            <ion-item *ngFor="let machine of machines$ | async" button (click)="onMachineClicked(popover, machine)" class="machine-item">
              <ion-text>{{machine.title}}</ion-text>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>
